* {
  box-sizing: border-box;
  font-family: Oswald;
  color: lightgray;
  text-align: center;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4644a3;
}

/**
HEADER
*/



a, a:visited {
  font-family: Oswald;
  font-weight: lighter;
  color: white;
}

.myList {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: transparent;
  height: 50px;

}

.myList a {
  margin-top: 30px;
  color: lightgray;
}


/*.row2 {
width: 100%;
flex-direction: column;
background-color: green;
}*/




/**
TITLE
*/

.main {
  height: 100vh;
  background-image: url('back1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
}


.logoName {
  position: relative;
  top: 24%;
}

.logo {
  height: 300px;
  width: 300p;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0;
}

/**
PROJECTS
*/









/**
Languages
*/

h3 {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

#logo-list{
  list-style-type: none;
  display: flex;
  margin:right auto;
}

.icon-container{
  text-align: center;
  padding-bottom: 15px;
}
.icon {
  font-size: 4.5rem;
  padding: 0 10px 0 10px;
}





@media only screen and (min-width: 1200px) {

  .projects {
    width: 100%;
    float: right;
    position: relative;
    padding-bottom: 100%;
    display: flex;
  }

  .row1 {
    height: 20%;
    width: 100%;
    /*border: solid lightgray 1px;*/
    margin: 0;
    padding: 0;
    position: absolute;
    flex-direction: row;
  }

  .project1 {
    height: 100%;
    width: 20%;
    position: absolute;
    background-image: url('back4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .project2 {
    height: 100%;
    width: 20%;
    float: right;
    background-image: url('back3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .project3 {
    height: 100%;
    width: 20%;
    float: right;
    background-image: url('back2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .project4 {
    height: 100%;
    width: 40%;
    float: right;
    background-image: url('travelize.png');
    background-size: cover;
    background-position: center;
  }

  /**
  HEADER
  */

  /**
  TITLE
  */

  /**
  MAIN ARTICLE
  */

  /**
  EVENTS
  */
