* {
  box-sizing: border-box;
  font-family: Oswald;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4644a3;
}

/**
HEADER
*/

header {
  background-color: #2c3e50;
}

a, a:visited {
  font-family: Oswald;
  font-weight: lighter;
  color: white;
}

.my-list {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

.my-list li {
  padding: 0.5em 0 0.5em 1em;
}

/**
TITLE
*/

#header {
  height: 300px
  display: flex;
  flex-direction: column;
}

#name {
  color: black;
  text-align: center;
  height: 60px;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Oswald;
  font-weight: lighter;

}

h1 {
  margin: 0;
}

#codebackground {
  width: 100%;
  height: auto;
}
/**
MAIN ARTICLE
*/

#main-article {
  padding: 0 0.75em 0 0.75em;

}

/**
Languages
*/

h3 {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

#logo-list{
 list-style-type: none;
 display: flex;
 margin:right auto;
}

.icon-container{
 text-align: center;
 padding-bottom: 15px;
}
.icon {
 font-size: 4.5rem;
  padding: 0 10px 0 10px;
}

/**
EVENTS
*/

#events {
  display: flex;
  flex-direction: column;
}

#event-title {
  padding: 0 0.75em 0 0.75em;
  margin: 0 0 18px 0
}

.event {
  display: flex;
  flex-direction: column;
  padding: 0 0.75em 0 0.75em;
  margin: 0;
}

.event img{
  width: 100%;
  height: auto;
}

h5 {
  margin-top: 0;
}
/**
FOOTER
*/

footer {
  background-color: #2c3e50;
}


.social-media {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 20px;
}

.social-media li {
  padding: 0.5em 0 0.5em 1em;
  margin-left: auto;
  margin-right: auto;
}

/*.fa-twitter:before {
font-size: 20px;
color: #00c7ff;
content: "\f099";
float: right;
}

.fa-facebook:before {
font-size: 20px;
color: #00c7ff;
content: "\f09a";
float: right;
}

.fa-instagram:before {
font-size: 20px;
color: #00c7ff;
content: "\f09a";
float: right;
}*/


@media only screen and (min-width: 1200px) {
  /**
  HEADER
  */

  /**
  TITLE
  */

  /**
  MAIN ARTICLE
  */

  /**
  EVENTS
  */

  #events {
    flex-direction: row;
  }

  /**
  FOOTER
  */
  .social-media {
    margin: 0;
    padding: 0;
    display: flex;
    margin:right auto;
    font-size: 20px;
  }

  .social-media li {
    padding: 0.5em 0 0.5em 1em;

  }
