* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4644a3;
}

/**
HEADER
*/

header {
  background-color: #2c3e50;
}

a, a:visited {
  color: white;
  text-align: center;
}

.my-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.my-list li {
  padding: 0.5em 0 0.5em 1em;
  text-align: center;
}

/**
TITLE
*/

#header {
  height: 300px
  display: flex;
  flex-direction: column;

}

#name {
  color: white;
  text-align: center;
  background-image: url('sky.jpeg');
  height: 300px;

  font-family: "Helvetica"

}

h1 {
  margin: 0;
}

#codebackground {
  width: 100%;
  height: auto;
}
/**
MAIN ARTICLE
*/

#main-article {
  padding: 0 0.75em 0 0.75em;

}

/**
EVENTS
*/

#events {
  display: flex;
  flex-direction: column;
}

.event {  
  display: flex;
  flex-direction: column;
  padding: 0.75em;
}

.event img{
  width: 100%;
  height: auto;
}
/**
FOOTER
*/

footer {
  background-color: #2c3e50;
}


.social-media {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 20px;
}

.social-media li {
  padding: 0.5em 0 0.5em 1em;
}
/*.fa-twitter:before {
font-size: 20px;
color: #00c7ff;
content: "\f099";
float: right;
}

.fa-facebook:before {
font-size: 20px;
color: #00c7ff;
content: "\f09a";
float: right;
}

.fa-instagram:before {
font-size: 20px;
color: #00c7ff;
content: "\f09a";
float: right;
}*/


@media only screen and (min-width: 1200px) {
  /**
  HEADER
  */

  /**
  TITLE
  */

  /**
  MAIN ARTICLE
  */

  /**
  EVENTS
  */

  #events {
    flex-direction: row;
  }

  /**
  FOOTER
  */
}
